
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}
nav {
    clear: both;
    text-align: center;
    margin-top: 3rem;
}
nav a {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 50px;
    padding-left: 50px;
    transition: .5s;
    text-decoration: none;
    color: #2196F3;
    font-weight: bold;
}
nav a:hover{
    color: #064579;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav li {
    display: inline;
}
.sidenav {
    float: left;
    width: 8em;
    position: sticky;
    z-index: 1;
    top: 20px;
    left: 20px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    margin-top: 2rem;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #2196F3;
    display: block;
    transition: .5s;
    font-weight: 550;
}
  
.sidenav a:hover {
    color: #064579;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
#logo {
    z-index: -1;
    float: left;
    height: 100px;
    width: 100px;
}
header {
    margin-left: 75px;
}
h1 {
    float: left;
    margin-top: 2rem;
    padding-left: 10px;
    font-size: 30px;
}
h2 {
    margin-top: 2rem;
}
main {
    width: 80%;
    margin: 40px auto;
}
ul {
    list-style-type: disc;
}
ul p {
    padding-left: 3rem;
}
footer {
    border-top: 5px solid #2196F3;
    color: #fff;
    text-align: center;
    background-color: #064579;
}